<p id="notice"><%= notice %></p>

<p>
  <b>Type:</b>
  <%= @assistance_type.type %>
</p>


<%= link_to 'Edit', edit_assistance_type_path(@assistance_type) %> |
<%= link_to 'Back', assistance_types_path %>
