<p id="notice"><%= notice %></p>

<p>
  <b>Requirement:</b>
  <%= @requirement.requirement %>
</p>


<%= link_to 'Edit', edit_requirement_path(@requirement) %> |
<%= link_to 'Back', requirements_path %>
